body {
    background-color: darkslategray;
}

img {
    max-width: 400px;
}

#container {
    background-color: black;
    width: 500px;
    height: 300px;
  }
  
.tile{
    background-color: blueviolet;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.tiny{
    background-color: burlywood;
    width: 100px;
    height: 70px;
    margin: 10px;
}

#container2 {
    background-color: black;
    width: 500px;
    height: 300px;
  }
  
.tile2{
    background-color: blueviolet;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.tiny2{
    background-color: burlywood;
    width: 100px;
    height: 70px;
    margin: 10px;
}

#container3 {
    background-color: black;
    width: 500px;
    height: 300px;
  }
  
.tile3{
    background-color: blueviolet;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.tiny3{
    background-color: burlywood;
    width: 100px;
    height: 70px;
    margin: 10px;
}