/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    font-family: 'poppins';
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  ul, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }

/* CSS Start */
@font-face {
    font-family: poppins;
    src: url(./assets/fonts/poppins-regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Light.ttf);
    font-weight: 300;
}

.wrapper {
    padding: 0 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    
    margin: auto;
    margin-top: 40px;
    max-width: 1200px;
    
    /* border: 1px solid red; */
}
    .menu {
        display: flex;
        gap: 40px;
    }


.banner {
    display: flex;
    margin: auto;
    margin-top: 120px;
    width: 100%;
    max-width: 1200px;
    
    /* border: 1px solid red; */
}
    .banner-text {
        flex: 1;
    }
        .banner-text h1 {
            font-size: 3.6rem;
            margin-bottom: 40px;
            max-width: 580px;
        }
        .banner-text p {
        max-width: 400px;
        margin-bottom: 40px;
        font-family: 'poppins';
        font-weight: 300;
        }
        .banner-text button {
            border: none;
            border-radius: 24px;
            background-color: black;
            color: white;
            padding: 12px 20px;
            }
    .banner-text > button > a {
      color: white;
    }
    .banner-image {
        flex: 1;
    }  

.past-customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  margin-top: 120px;
  width: 100%;
  max-width: 1200px;
}
  .past-customers .logo {
    filter:brightness(0);
    width: 8%;
  }

.service-header {
  display: flex;
  justify-content: center;

  margin-top: 120px;
  font-size: 1.6rem;
}

.services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;

  max-width: 1200px;
  margin: auto;
  margin-top: 120px;
  padding-bottom: 100px;
}
  .service {
    display: flex;
    flex: 1;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 24px;
    border-bottom: 6px solid black;
    min-width: 380px;
    padding: 40px;
  }
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    padding: 22px 0;
  }
    .text > p{
      font-size: 22px;
      font-weight: bold;
    }
  .right {
    flex: 1;
    filter: grayscale(100%);
  }

.workflow-header {
  display: flex;
  justify-content: center;

  margin-top: 120px;
  font-size: 1.6rem;
}

.workflow-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;

  margin: auto;
  margin-top: 120px;
  padding-bottom: 120px;
  max-width: 1200px;
  
}
  .workflow-content {
    flex: 1;

    min-width: 400px;
    font-family: 'poppins';
    font-weight: 300;
  }
  .workflow-content > img{
    height: 660px;
    width: 100%;
    object-fit: cover;
    border-radius: 38px;
  }
  .workflow-content > .image-1{
    margin-top: 40px;
  }
  .workflow-content > .image-2{
    margin-bottom: 40px;
  }

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
  margin-top: 120px;
  padding-bottom: 120px;
}
  .contact-us > .image {
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
  }
  .image > img {
    width: 60px;
  }
  .contact-us > .text {
    max-width: 740px;
  }
  .buttons > button {
    border: none;
    border-radius: 24px;
    padding: 12px 20px;
    margin-top: 20px;
    min-width: 90px
  }
  .buttons > button:first-child {
    background-color: black;
  }
  .buttons > button:first-child > a{
    color: white;
  }

  .contact-us > .text > h1 {
    text-align: center;
    font-size: 3rem;
    
  }

.footer-content {
  display: flex;
  justify-content: space-between;

  margin: auto;
  margin-top: 120px;
  padding-bottom: 20px;
  max-width: 1200px;
  font-size: .8rem;
  font-weight: 300;
}

  .footer-social > ul{
    display: flex;
    gap: 20px;
    
  }