body {
  background-color: rgb(34, 34, 34);
}

.container {
  margin: 3rem 0rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  max-height: 740px;
  overflow: scroll;
  margin: 0;
  padding: 0;
  margin-right: 1.6rem;
  list-style: none;
}

li {
  max-width: 260px;
  min-width: 100px;
  padding: 16px;
  margin: 10px 0px 0px 0px;
  background-color: transparent;
  border: solid 1px rgb(211, 211, 211);
  border-radius: 6px;
}

li:hover {
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: rgba(24, 24, 24, 0.637);
}

.main-content {
  display: flex;
}

#input-button {
  display: block;
  margin: 10px 0px;
  padding: 2px 8px;
}

#input-box {
  margin: 26px 10px 0px 0px;
  border: solid 1px rgb(211, 211, 211);
  border-radius: 6px;
}

#new-note, #new-title {
  display: block;
  border: none;
  background-color: transparent;
  padding: 12px;
  min-width: 30rem;
  min-height: 80px;
  resize: none;
  color: white;
}

#new-title{
  min-height: 2px;
}

.main-para {
  /* min-width: 220px; */
  min-width: 32vw;
  max-width: 530px;
  max-height: 740px;
  color: white;
  overflow: scroll;
  overflow-wrap: break-word;
  white-space: pre-line;
}

.main-title {
  margin: 30px 0px 0px 0px;
  min-width: 220px;
  max-width: 530px;
  max-height: 740px;
  font-weight: 600;
  color: white;
  overflow: scroll;
  overflow-wrap: break-word;
  white-space: pre-line;
}

#small-span {
  display: block;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(158, 158, 158);
}

.left-span, .left-title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Roboto", serif;
  color: white;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.left-span {
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  font-size: 14px;
}

.left-title {
  margin-bottom: .4rem;
  -webkit-line-clamp: 1;
  font-size: 16px;
  font-weight: 600;
}

.opt-button {
  display: inline;
  /* transition-duration: .2s; */
  opacity: 0;
  margin: 6px 6px 0px 0px;
}

li:hover .opt-button {
  opacity: 1;
}

@media screen and (max-width: 720px) {
  #new-note, #new-title {
    min-width: 20rem;
  }
  li {
    max-width: 100px;
  }
}