* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.dropdown-menu {
  margin: 40px;
  margin-left: 240px;
}

.dropdown {
  position: absolute;
}

.dropdown.active {
  display: inline-block;
  background-color: cadetblue;
}

.dropdown.inactive {
  display: none;
}

.option:hover {
  cursor: pointer;
}