* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.dropdown-menu {
  margin: 40px;
}

.dropdown.active {
  display: inline-block;
  background-color: cadetblue;
}

.dropdown.inactive {
  display: none;
}