body {
    background-color: rgb(34, 34, 34);
    
}

.container{
    display: flex;
    justify-content: center;
    
}

ul {
    max-height: 740px;
    overflow: scroll;
    margin: 0;
    margin-right: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    width: 260px;
    height: 78px;
    padding: 16px;
    margin: 10px 10px;
    list-style: none;
    background-color: transparent;
    font-size: 14px;
    font-family: 'Roboto', serif;
    color: white;
    border: solid 1px rgb(211, 211, 211);
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:hover {
    transition-duration: .4s;
    cursor: pointer;
    outline: solid 1px rgb(211, 211, 211);
}

.main-content {
    display: flex;
}

button {
    display: block;
    margin: 10px 0px;
    padding: 2px 8px;
}

.right-area{
    margin: 10px 10px;
}

textarea {
    width: 550px;
    height: 80px;
    resize: none;
}

.main-para{
    width: 550px;
    color: white;
}